* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343444;
  }
  
  .todo-container {
    width: 1000px;
    height: 80vh;
    display: flex;
    border-radius: 15px;
    font-size: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  }
  
  .status {
    width: 25%;
    background-color: #3b3737;
    position: relative;
    padding: 60px 1rem 0.5rem;
    
  }
  
  .status:nth-child(even) {
    background-color: #1d1b1b6b;
  }
  
  .status h3 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #343434;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
  }
  
  #add_btn {
    padding: 0.5rem 1rem;
    background-color: #0faddd9a;;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  
  #add_btn:hover {
    background-color:  #00d9ff;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color:#0faddd;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    color: white;
    cursor: pointer;
  }
  .todo:hover{
    box-shadow: 0px 0px 5px 2px rgba(0,171,219,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,171,219,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,171,219,0.75);
  }
  
  .todo .close {
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  
  .todo .close:hover {
    color: #cf1818bd;
  }
  
  /* modal */
  
  .close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  .close-modal:hover{
      color: #00d9ff;
  }
  
  .modal {
    width: 550px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    margin-top: 3rem;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
    background-color:#343444;
  }
  
  .modal.active {
    top: 15%;
  }
  
  .modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
   
   
  }
  .modal .title{
    color: white;
    text-align: center;
    padding: 0.5rem;
  }
  .modal .body {
    padding: 0.75rem;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 76, 76, 0.501);
  }
  
  #overlay.active {
    display: block;
  }
  
  #todo_input,
  #todo_submit {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
    border: none;
  }
  
  #todo_submit {
    background-color: #0faddd;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
  }

  #todo_submit:hover{
    background-color: #00d9ff;
  }